{% extends 'spa_core/base.html' %}
{% block content %}
<section>
	<h2 class="">Page Information</h2>
	<article class="info">
		<p class=" faq">
			<a href="https://docs.google.com/document/d/17CtaIb-c2ylt5iEky9Y3fHiIh-EipxYPcT_qPN4f71c/edit?usp=sharing" target="_blank">Foire aux questions </a>
		</p>

		<p class="tuto ">Tutoriel Vidéo (à venir)</p>

		<p class=" legal-notice"><a href="{% url 'info:legal_notice'%}">A propos de l'app</a></p>

		<p class="github-link ">
			<a href="https://github.com/blingstand/projet13" target="_blank">Code Source</a>
		</p>
		<div class="container-about">
			<p class="about ">Application développée par <a href="http://35.180.64.180/cv/">Adrien Clupot</a></p>
		</div>

	</article>
</section>
{%endblock%}