{% extends 'core/base.html' %}
{% block content %}
<section>
	<h2 class="mt-5 pl-5">Page Information</h2>
	<article class="mt-5 container">
		<div class="row">
			<div class="col-1 text-center "></div>
			<div class="col-4 text-center mail-but d-flex align-items-center justify-content-center">
				<p>
					<a href="https://docs.google.com/document/d/17CtaIb-c2ylt5iEky9Y3fHiIh-EipxYPcT_qPN4f71c/edit?usp=sharing" target="_blank">Foire aux questions </a>
				</p>
			</div>

			<div class="col-2 text-center"></div>
			<div class="col-4 text-center mail-but d-flex align-items-center justify-content-center">
				<p>Tutoriel Vidéo</p>
			</div>
			<div class="col-1 text-center"></div>
		</div>
		<div class="col-12 text-center mail-but"style="background-color: red;"></div>
		<div class="row">
			<div class="col-2 text-center"></div>
			<div class="col-3 text-center mail-but d-flex align-items-center justify-content-center">
				<p><a href="{% url 'info:legal_notice'%}">à propos de l'app</a></p>
			 </div>
			<div class="col-2 text-center"></div>
			<div class="col-3 text-center mail-but d-flex align-items-center justify-content-center">
				<p><a href="https://github.com/blingstand/projet13" target="_blank">Code Source</a></p>
			</div>
			<div class="col-2 text-center"></div>
		</div>
		<div class="col-12 text-center mail-but"style="background-color: red;"></div>
		<div class="row">
			<div class="col-3 text-center"></div>
			<div class="col-6 text-center mail-but d-flex align-items-center justify-content-center">
				<p>Application développée par <a href="">Adrien Clupot</a></p>
				</div>
			<div class="col-3 text-center">space</div>

		</form>
		<div class="col-2 text-center text-center"></div>
	</div>

</div>
</article>
</section>
{%endblock%}