<h4 class="mt-3 mb-4 pl-5">Animal</h4>
<div class="col-12 d-flex">
	<div class="col-6">
		<p>{{form.name.label}} : {{form.name}}</p>
	</div>
	<div class="col-6">
		<p>{{form.color.label}} : {{form.color}}</p>
	</div>
</div>
<div class="col-12 d-flex">
	<div class="col-6">
		<p>Espèce :<br> {{form.species}}</p>
	</div>
	<div class="col-6">
		<p>Race : {{form.race}}</p>
	</div>
</div>
<div class="col-12">
	<hr align=center size=4 width="50%" class="add-hr"/>
</div>
<div class="col-6">
	<p class="text-center">Date de naissance : {{form.date_of_birth}}</p>
</div>
<div class="col-6">
	<p class="text-center">Date d'adoption : {{form.date_of_adoption}}</p>
</div>
<div class="col-12">
	<hr align=center size=4 width="50%" class="add-hr"/>
</div>
<div class="col-6">
	<p class="text-center">Caution : {{form.caution}}</p>
</div>
<div class="col-6">
	<p class="text-center">Nature : {{form.nature_caution}}</p>
</div>