@mixin load-sheet-add-anim(){
	article{
		form{
			.container-full-form{
				display: grid;
				grid-template-columns: 40% 1fr;
				grid-gap: 1rem;  
				.container-form-left-part{
					grid-column: 1; 
					background-color: $primary;
				}
				.container-form-right-part{
					grid-column: 2; 
					background-color: $secondary;
					display:grid; 
					grid-template-rows: repeat (2, 1fr);
					.container-form-right-part-top{}
					.container-form-right-part-bottom{}
				}
			}
		}
	}
}