<!DOCTYPE html>
<html lang="fr">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>SPA suivi stérilisation</title>
	{% load static %}
	<link href="{% static 'spa_core/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="{% static 'spa_core/css/style.css'%}">

</head>
<body>
	<article class="connection">
		<div class="grp-connection">
			<h1 class="title">Page de Connexion</h1>
			<form class="form-connection" action="" method="POST">
				{% csrf_token %}
				<div class="line-1">
					<div class="">Pseudo</div >     
					<div class="">{{ us_form.username}}</div >      
				</div>
				<div class="line-2">
					<div class="">Mot de passe</div >     
					<div class="">{{ us_form.password}}</div >      
				</div>

				<div class="container-submit">
					<input type="submit" id="id_submit" class="btn btn-primary big-btn mb-4" value="Se connecter">
				</div>
			</div>
		</form>
		{% if error %}
		<div class="container-error">
			<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
		</div>
		{% endif %}

	</div>
</article>
</body>
</html>