<nav>

	<div class="container d-flex mt-5 mb-5">
		{%load static%}
		<div class="row">
			<div class="col-12 text-center photo"><img src="{% static 'img/avatar.png'%}" alt=""></div>
			{% if name%}
			<div class="col-12 text-center label-photo">Bienvenu {{name}}</div>
			{% endif%}
			<div class="col-12 text-center label-photo"><a href="{% url 'user:logout'%}">se déconnecter</a></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
		<div class=" col-12 text-center button-verti mb-3 very-center"><a class="no-a" href="{% url 'mydashboard:index' %}">Tableau de bord</a></div>
		<div class=" col-12 text-center button-verti mb-3 very-center "><a class="no-a" href="{% url 'sheet:index' %}">Fiches</a></div>
		<div class=" col-12 text-center button-verti mb-3 very-center "><a class="no-a" href="{% url 'mail:index' %}">Mails</a></div>
		<div class=" col-12 text-center button-verti mb-5 very-center "><a class="no-a" href="{% url 'info:index' %}">Informations</a>	</div>
		</div>
	</div>
</nav>