{% extends 'spa_core/base.html' %} 
{% block content %}
<header>

	<p class=" back-button" onclick=BackToIndex()>Retour Index</p>
	{% if mail %}
	<h2 class="title-cns">Contenus et règles pour mail (id={{mail.mail_id}})</h2>
	{% else %}
	<h2 class="title-cns">Contenus et règles </h2>
	{% endif %}

</header>
<article class="cns">
	<div class="container-button">
		<button class="" id="content">Contenu du mail </button>
		<button class="" id="settings">Règle(s) d'envoi </button>
	</div>
</article>

<script type="text/javascript">
	content = document.getElementById('content')
	settings = document.getElementById('settings')

	content.addEventListener('click', function(){
		{% if mail %}
		window.location.href = "{% url 'mail:content'%}"+"/{{mail.mail_id}}"})
	{% else%}
	window.location.href = "{% url 'mail:content'%}"});
{%endif%}
settings.addEventListener('click', function(){
	{% if mail %}
	window.location.href = "{% url 'mail:settings'%}"+"/{{mail.mail_id}}";
	{% else%}
	alert("Ecrivez le contenu du mail pour accéder aux paramètres.")
	{%endif%}
});

const BackToIndex = function(){
	document.location.href = "{% url 'mail:index'%}"}
</script>
{% endblock%}