{% extends 'core/base.html' %}
{% block content %}
<section>
	<h4><a href="{% url 'mail:cns'%}">< Retour</a></h4>
	<h2 class="mt-5 pl-5">Contenu du mail </h2>
	<article class="mt-5 container">
		<div class="row">
			<div class="col-1 bg-secondary"></div>
			<div class="col-7">
				<form action="" method='post'>{% csrf_token %}
					<div class="row">
						<div class="col-12">{{form.titre}} </div>
						<div class="col-12">{{form.resume}} </div>
						<div class="col-12">{{form.content}} </div>
					</div>
				</form>
			</div>
			<div class="col-3">
				<div class="h-100 p-4 row d-flex justify-content-around bg-green">
					<div class="col-6 button-inclusion very-center">Propriétaire</div>
					<div class="col-6 button-inclusion very-center">Nom animal</div>
					<div class="col-6 button-inclusion very-center">Caution</div>
					<div class="col-6 button-inclusion very-center">Date de stérilisation</div> 

				</div>
			</div>
			<div class="col-1 bg-secondary"></div>

			</div>
		</article>
		<script type="text/javascript">
			
		</script>
	</section>
	{% endblock%}