{% extends 'core/base.html' %}
{% block content %}
<section>
	<h2 class="mt-5 pl-5">Contenu du mail </h2>
	<article class="mt-5 container">
		<div class="row">
			<div class="col-1 bg-secondary"></div>
			<div class="col-10">
				<form action="" method='post'>
					<div class="row">
						<div class="col-12">titre </div>
						<div class="col-12">contenu</div>
					</div>
				</form>
				<div class="col-1 bg-secondary"></div>

			</div>
		</article>
		<script type="text/javascript">
			content = document.getElementById('content')
			settings = document.getElementById('settings')

			content.addEventListener('click', function(){
				window.href.location = "{% url 'mail:content'%}"})
			settings.addEventListener('click', function(){
				window.href.location = "{% url 'mail:settings'%}"})
			</script>
		</section>
		{% endblock%}