{% extends 'spa_core/base.html' %} 
{% block content %}

<header>
    <p class="back-button" onclick=BackToCNS()>Retour CNS</p>
    {% if mail %}
    <h2 class="">Règle(s) d'envoi pour mail <br><span class="title-info"> (id={{mail.mail_id}}, titre='{{mail.title}}')</span> </h2>
    {% else %}
    <h2 class="">Règle(s) d'envoi </h2>
    {% endif %}
</header>
<article class="mail-settings">
    <div class="container-top">
        <div class="wish" id="wish">
        </div>
    </div>
    <div class="container-middle">
        <form action="" method="post" id='formSettings' class="form-settings d-none">{% csrf_token %}
            {{form }}
        </form>
    </div>
    <div class="container-bot">
        <div class="container-input">
            <input id="submit" type="submit"class="btn btn-primary big-btn" value="Enregistrer">
            <p id="verif"></p>
        </div>
    </div>
</div>
</article>

<script type="text/javascript">

    //###################
    //#### VARIABLES ####
    //###################
    const wish = document.getElementById('wish')
    const formSettings = document.getElementById('formSettings')
    let count = 0
    const submitBtn = document.getElementById('submit') 
    param = GetParam()

    
    //###################
    //#### FUNCTIONS ####
    //###################

    const BackToCNS = function(){
        pageName = 'settings'
        BackCNS(pageName, "{% url 'mail:cns'%}")
    }
    const AppearChoice = () => {
        console.log("Appear : j'envoie 1 au serveur")
        value = {'ajax':1, 'auto_send':1}
        urlAppChoice = "{% url 'mail:settings'%}"
        whatToDo = function(){
            wish.textContent = "Je souhaite envoyer ce mail automatiquement ..."
            formSettings.classList.remove("d-none");
        }
        sendDatasToServer(value, url, whatToDo)
        return 1
    }

    //hides form + changes auto_send value in db for 0
    const DisappearChoice = () => {
        console.log("DisAppear : j'envoie 0 au serveur")
        value = {'ajax':1, 'auto_send':0}
        urlAppChoice = "{% url 'mail:settings'%}"
        whatToDo = function(){
            wish.textContent = "Je ne souhaite pas envoyer ce mail automatiquement ..."
            formSettings.classList.add("d-none");
        }
        sendDatasToServer(value, url, whatToDo) 
        return 0
    }
    const ChangeAutoSend = () => {
        autoSend = localStorage.autoSend
        if (autoSend == 0 ){
            newAutoSend = AppearChoice()
            
        }else{
            newAutoSend = DisappearChoice()
        }
        localStorage.setItem("autoSend", newAutoSend) 
        console.log("localStorage : " + localStorage.autoSend )
    }

    const SubmitformSettings = () => {
        console.log(formSettings)
        formSettings.setAttribute('action', "{% url 'mail:settings'%}/"+param);
        formSettings.setAttribute('method', "POST");
        formSettings.submit()
    }
    //###################
    //####  EVENTS   ####
    //###################
    //choose display or remove
    wish.onclick = function () {  
        ChangeAutoSend()
        wish.classList.toggle('bg-primary')
    };

    submitBtn.onclick = () => {
        SubmitformSettings()
    }
    window.onload = () => {
        console.log('le serveur envoie : {{ mail.auto_send_js }} ')
        autoSend = "{{ mail.auto_send_js }}"
        localStorage.setItem("autoSend", autoSend) 
        if (autoSend == 0){
            console.log("je ne veux pas voir le form ")
            formSettings.classList.add("d-none");
            wish.textContent = "Je ne souhaite pas envoyer ce mail automatiquement ..."
        }else{
            console.log("je veux voir le form ")
            formSettings.classList.remove("d-none");
            wish.classList.toggle('bg-primary')
            wish.textContent = "Je souhaite envoyer ce mail automatiquement ..."
        }
    }
    // let main = function() {
    //     {% if mail.auto_send%}
    //     wish.textContent = "Je souhaite envoyer ce mail automatiquement ..."
    //     formSettings.classList.remove("d-none");
    //     formSettings.classList.add("d-flex");
    //     wish.style.backgroundColor = colors[0];
    //     {% else %}
    //     DisappearChoice();
    //     wish.style.backgroundColor = colors[1];
    //     {% endif%}
    // // auto.classList.replace("d-none", "d-flex");
    
    // fillForm()
    // }
    // $(document).ready(function() { 
    //     main() 
    // });

</script>

{% endblock%}