{% extends 'spa_core/base.html' %} 
{% block content %}
<section class="">
    <p class="curs-pointer back-button" onclick=BackToCNS()>Retour CNS</p>
    {% if mail %}
        <h2 class="mt-2 pl-5">Règle(s) d'envoi pour mail (id={{mail.mail_id}}, titre='{{mail.title}}') </h2>
    {% else %}
        <h2 class="mt-2 pl-5">Règle(s) d'envoi </h2>
    {% endif %}
    <article class="mt-5 container">
        <div class="row">
            <div class="col-1 "></div>
            <div class="col-10 bg-white">
                <div class=" mt-5 mb-5 text-center bg-tomato very-center sett-choice d-flex" id="auto">Je ne souhaite pas envoyer ce mail automatiquement ... </div>
                <form action="" method="post" id='formSettings' class="d-none">{% csrf_token %}
                    <div class="col-12 d-flex">
                        {%for field in form%}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{field.label}} {{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        <div class="col-1"></div>
                        <div class="col-8 bg-blue-trans pt-3 mb-3 ">{{form.frequency}}</div>
                        <div class="col-3 very-center">
                            <input type="submit"class="btn btn-primary big-btn" value="Enregistrer">
                            <p id="verif"></p>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-1 "></div>

        </div>
    </article>
</section>
<script type="text/javascript" src='/static/mail/js/utils.js'> </script>
<script type="text/javascript">
    const auto = document.getElementById('auto')
    const formSettings = document.getElementById('formSettings')
    const colors = ['#00B4B5', 'tomato'];
    let count = 0
    param = GetParam()
    const BackToCNS = function(){
        pageName = 'settings'
        BackCNS(pageName, "{% url 'mail:cns'%}")
    }

    //*****toggle form
    //display form
    const appearChoice = function(){
        value = {'ajax':Number(1), 'mail_id':param, 'auto_send':1}
        urlAppChoice = "{% url 'mail:settings'%}"
        whatToDo = function(){
            auto.textContent = "Je souhaite envoyer ce mail automatiquement ..."
            formSettings.classList.replace("d-none", "d-flex");
            document.getElementById('id_frequency_0').checked = true; 
        }
        sendDatasToServer(value, url, whatToDo)
    }
    //remove form
    const disappearChoice = function(){
        value = {'ajax':Number(1), 'mail_id':param, 'auto_send':0}
        urlAppChoice = "{% url 'mail:settings'%}"
        whatToDo = function(){
            auto.textContent = "Je ne souhaite pas envoyer ce mail automatiquement ..."
            formSettings.classList.replace("d-flex", "d-none");
            document.getElementById('id_frequency_0').checked = true; 
        }
        sendDatasToServer(value, url, whatToDo) 
    }
    //choose display or remove
    auto.onclick = function () {        
        if (auto.style.backgroundColor == "tomato"){
            appearChoice();
            auto.style.backgroundColor = '#00B4B5'
        }
        else{
            disappearChoice();
            auto.style.backgroundColor = "tomato"
        }
    };

    
    //******fill the form
    const fillForm = function(){
        keys = ['{{mail.send_after_creation}}', '{{mail.send_after_modif}}', '{{mail.send_after_delete}}','{{mail.send_every_2_weeks}}', '{{mail.send_when_neuterable}}']
        for (index in keys){
            if (keys[index] != 'False'){
                document.getElementById('id_frequency_'+index).checked = true;
                break; 
            };
        }
    }


    let main = function() {
        {% if mail.auto_send%}
        auto.textContent = "Je souhaite envoyer ce mail automatiquement ..."
        formSettings.classList.remove("d-none");
        formSettings.classList.add("d-flex");
        auto.style.backgroundColor = colors[0];
        {% else %}
        disappearChoice();
        auto.style.backgroundColor = colors[1];
        {% endif%}
        // auto.classList.replace("d-none", "d-flex");
        
        fillForm()
    }
    $(document).ready(function() { 
        main() 
    });

</script>

{% endblock%}