{% extends 'spa_core/base.html' %} 
{% block content %}
<section class="">
    <header>
        <p class="back-button" onclick=BackToCNS()>Retour CNS</p>
        {% if mail %}
        <h2 class="">Règle(s) d'envoi pour mail <br><span class="title-info"> (id={{mail.mail_id}}, titre='{{mail.title}}')</span> </h2>
        {% else %}
        <h2 class="">Règle(s) d'envoi </h2>
        {% endif %}
    </header>
    <article class="mail-settings">
        <div class="container-wish">
            <div class="wish" id="wish">Je ne souhaite pas envoyer ce mail automatiquement ... 
            </div>
        </div>
        <div class="container-form">
            <form action="" method="post" id='formSettings' class="form-settings d-none">{% csrf_token %}
                {{form.frequency}}
                <div class="container-input">
                    <input type="submit"class="btn btn-primary big-btn" value="Enregistrer">
                    <p id="verif"></p>
                </div>
            </form>
        </div>
    </article>
</section>
<script type="text/javascript">

    //###################
    //#### VARIABLES ####
    //###################
    const wish = document.getElementById('wish')
    const formSettings = document.getElementById('formSettings')
    let count = 0
    param = GetParam()

    
    //###################
    //#### FUNCTIONS ####
    //###################

    const BackToCNS = function(){
        pageName = 'settings'
        BackCNS(pageName, "{% url 'mail:cns'%}")
    }

    // //******fill the form
    // const fillForm = function(){
    //     keys = ['{{mail.send_after_creation}}', '{{mail.send_after_modif}}', '{{mail.send_after_delete}}','{{mail.send_every_2_weeks}}', '{{mail.send_when_neuterable}}']
    //     for (index in keys){
    //         if (keys[index] != 'False'){
    //             document.getElementById('id_frequency_'+index).checked = true;
    //             break; 
    //         };
    //     }
    // }
    //displays form + changes auto_send value in db for 1
    const AppearChoice = () => {
        console.log("Appear : j'envoie 1 au serveur")
        value = {'ajax':1, 'mail_id':param, 'auto_send':1}
        urlAppChoice = "{% url 'mail:settings'%}"
        whatToDo = function(){
            wish.textContent = "Je souhaite envoyer ce mail automatiquement ..."
            formSettings.classList.remove("d-none");
            document.getElementById('id_frequency_0').checked = true; 
        }
        sendDatasToServer(value, url, whatToDo)
        return true
    }

    //hides form + changes auto_send value in db for 0
    const DisappearChoice = () => {
        console.log("DisAppear : j'envoie 0 au serveur")
        value = {'ajax':1, 'mail_id':param, 'auto_send':0}
        urlAppChoice = "{% url 'mail:settings'%}"
        whatToDo = function(){
            wish.textContent = "Je ne souhaite pas envoyer ce mail automatiquement ..."
            formSettings.classList.add("d-none");
            document.getElementById('id_frequency_0').checked = true; 
        }
        sendDatasToServer(value, url, whatToDo) 
        return false
    }
    const ChangeAutoSend = () => {
        autoSend = localStorage.autoSend
        if (autoSend == 0 ){
            newAutoSend = AppearChoice()
            
        }else{
            newAutoSend = DisappearChoice()
        }
        localStorage.setItem("autoSend", newAutoSend) 
        console.log("localStorage : " + localStorage.autoSend )
    }
    //###################
    //####  EVENTS   ####
    //###################
    //choose display or remove
    wish.onclick = function () {  
        ChangeAutoSend()
    };
    window.onload = () => {
        console.log('le serveur envoie : {{ mail.auto_send_js }} ')
        autoSend = "{{ mail.auto_send_js }}"
        localStorage.setItem("autoSend", autoSend) 
        if (autoSend == 0){
            console.log("je ne veux pas voir le form ")
            formSettings.classList.add("d-none");
        }else{
            console.log("je veux voir le form ")
            formSettings.classList.remove("d-none");
        }
    }
    // let main = function() {
    //     {% if mail.auto_send%}
    //     wish.textContent = "Je souhaite envoyer ce mail automatiquement ..."
    //     formSettings.classList.remove("d-none");
    //     formSettings.classList.add("d-flex");
    //     wish.style.backgroundColor = colors[0];
    //     {% else %}
    //     DisappearChoice();
    //     wish.style.backgroundColor = colors[1];
    //     {% endif%}
    // // auto.classList.replace("d-none", "d-flex");
    
    // fillForm()
    // }
    // $(document).ready(function() { 
    //     main() 
    // });

</script>

{% endblock%}