/* 123 */ 
@import "libs/color.scss";
@import "libs/loops.scss";
@import "libs/responsive.scss";
@import "libs/utils.scss";

@import "split/cud-btn.scss";
@import "split/dashboard.scss";
@import "split/historic.scss";
@import "split/mail-cns.scss";
@import "split/mail-content.scss";
@import "split/mail-content-overview.scss";
@import "split/mail-settings.scss";
@import "split/mail-index.scss";
@import "split/nav.scss";
@import "split/right-part-top.scss";
@import "split/sheet-index.scss";
@import "split/sheet-form-anim.scss";
@import "split/sheet-form-owner-open.scss";
@import "split/info";
@import "split/info-legal-notice";
@import "split/connection";


*, ::before, ::after {
	box-sizing: border-box; 
	margin:  0;
	padding:  0; 
}

body{

	display: grid;
	grid-template-columns: 20vw 80vw;
	height: 100vh;
	overflow: hidden;
	input:focus, textarea:focus, select:focus{
		outline: none;
	}
	.part{
		height: 100vh; 
	}
	.left-part{
		grid-column: 1; 
	}
	.right-part{
		background-color: #fff;
		grid-column: 2; 

		.right-part-bottom{
			display: grid;
			grid-template-rows: 0.1fr auto; 
			height: 100%;
			h2{
				text-align: center; 
				font-size: 2rem; 
				margin-bottom: 2rem; 
			}
		}
	}
}

nav{
	@include load_nav(); 
}

.right-part{
	@include load-right-part-top();
}

.right-part-bottom{		
	@include load-dashboard(); 
	@include load-sheet-index(); 
	@include load-sheet-form-anim(); 
	@include load-historic(); 
	@include load-mail-index(); 
	@include load-mail-cns(); 
	@include load-mail-content(); 
	@include load-mail-settings(); 
	@include load-info(); 
	@include load-legal-notice(); 
}

@include load-mail-content-overview(); 
@include load-sheet-form-owner-open(); 
@include load-connection(); 

