<div id="top-search" class="container-search-bar">
    {% csrf_token %}
    <div class="container-search-input">
        {{search_form.search_input}}
    </div>
    <div class="container-hashtag">
        <p class="hashtag" id="prop:" onclick=AddTag(this.id)>#Propriétaire</p>

        <p class="hashtag" id="anim:" onclick=AddTag(this.id)>#Animal</p>

        <p class="hashtag" id="puce:" onclick=AddTag(this.id)>#Puce</p>
    </div>
    <div class='propositions'>
    </div>
</div>
<script>
    //###################
    //#### VARIABLES ####
    //###################
    let searchBox = document.getElementById('top-search')
    let button_row = document.getElementById('button_row')
    let searchInput = document.getElementById('id_search_input')
    let WhatToDo
    let propositions = document.getElementsByClassName('propositions')[0]
    let leftPart = document.getElementsByClassName('left-part')[0]
    const send_to_url = "{% url 'search_bar:search'%}"

    //###################
    //#### FUNCTION  ####
    //###################

    const AddTag = (givenValue) => {
        //this function fills the searchbar with given value 
        searchInput.value = givenValue
        searchInput.focus()
    }

    const openChoice = (choices) => {
        //this function opens a div that contains choices to fill the searchbar
        console.log(choices, choices=="0" )
        if (choices=="0"){
            propositions.innerHTML = ""
            return
        }
        else if (choices.length >=5){
            choices = choices.splice(0,4)
        }
        text = ""
        for (choice of choices){
            console.log(text)
            console.log(choice.id, choice.str)
            if (text.length > 0){
                text = text + "<br/><span class='choice-to-select' id='"+choice.id+"' onclick = GoTo()>" + choice.str + "</span>" 
            }else{
                text = text +"<span class='choice-to-select' id='"+choice.id+"' onclick = GoTo()>" + choice.str + "</span>" 
            }

            propositions.innerHTML = text
            propositions.classList.add('d-flex')
        }
    }


    const GoTo = function(e){
        e = window.event
        fiveFirst = searchInput.value.slice(0,5)
        if (fiveFirst == "prop:"){
            url_to_go = "{% url 'sheet:index' 1 %}/"+ "search:prop/" + e.target.id
        }else{
            url_to_go = "{% url 'sheet:index' 0 %}/"+ "search:anim/" + e.target.id
        }
        alert(url_to_go)
        window.location.href = url_to_go
    }

    //###################
    //####  EVENTS   ####
    //###################
    document.onclick = (e) => {
        if (propositions.innerHTML.length >= 1){
            console.log('je click sur ' + e.target.className)
            propositions.classList.remove('d-flex') 
            searchInput.innerHTML = ""
            
        }
    }
    searchInput.onclick = function(){
        if (searchInput.value.length == 0){
            searchInput.value = 'puce:'
            searchInput.focus()
        }
    }
    
    searchInput.onkeyup = function(e){
        value = {"value" : searchInput.value
        }
        console.log(value)
        WhatToDo = function(response){
            console.log(response)
            openChoice(response) 
        }
        
        sendDatasToServer(value, send_to_url, WhatToDo)
    }
</script>