@mixin load-dashboard{	
	.art-dashboard{
		height: 100%;
		.container-dashboard{
			display: grid; 
			margin-left: 10px; 
			grid-template-columns: 70% 1fr; 
			grid-column-gap: 10px; 
			height: 100%; 

			.container-graph{
				margin-left: 5vw;
				border: 2px white solid; 
				border-radius: 2rem 2rem 0 0 ;
				.graph{ 
					border: 2px black solid; 
					border-radius: 2rem 2rem 0 0 ;

				}
			}
			.container-button{
				height: 90%; 
				display : grid; 
				place-items: center; 
				div{
					background-color: $secondary;
					width: 50%;
					border: 3px white solide; 
					text-align: center; 
					border-radius: 2rem; 
					&:hover{
						background-color: $primary;
						font-weight: bold;
						cursor: pointer; 
					}
				}
			}

		}
	}
}