$shape_table_5: 2rem 8rem 9rem 12rem 1fr;
@mixin load-historic(){

	.title-historic{
		margin-bottom: 0 !important; 
	}
	
	.historic{
		display: grid;
		grid-template-rows: 5rem 1fr; 
		grid-template-columns: 1fr; 
		.container-button-cud{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			button{
				flex: 0 1 7rem; /*  No stretching: */
				margin: auto 2rem;
				@extend .btn-sheet-index;
				&:hover{
					background-color: $primary;
				}
			}
		}
		.historic-table{
			display: grid;
			grid-template-rows: 2rem 1fr;
			width: 95%;
    		margin: 0 auto;
			.historic-table-title{
				background-color: $primary;
				display: grid;
				grid-template-columns: $shape_table_5; 
				grid-gap: 3px 5px; 
				text-align: center; 
				.col-name{
					@extend .content-centered
				}
			}
			.scrollable-part{
				height: 50vh;
				overflow: scroll;

				.rows{
					display: grid;
					grid-template-columns: $shape_table_5; 
					grid-gap: 3px 5px; 

					.cell{
						@extend .content-centered; 
						cursor: pointer;
					}
					.last-cell{
						cursor: pointer;
						text-align: justify;
						text-indent: 1rem; 
						padding-right: 0.5rem;
					}
				}
				.row2{
					background-color: lighten($primary, 50);
				}
				.row-editor{
					display: grid;
					min-height: 5rem;
					grid-template-columns: 2rem 8rem 9rem 12rem 1fr 6rem; 
					grid-gap: 3px 5px;
					.cell {
						@extend .content-centered;
					}
					.cell input[type="date"]{
						border-radius: 1rem; 
						width: 8rem;
						height: 1.5rem; 
						font-size: 0.7rem; 
						text-align: center; 
					}
					.cell select, .cell input[type="text"]{
						border-radius: 1rem;
						width: 8rem;
						height: 1.5rem; 
						font-size: 0.7rem; 
						text-align: center; 
						background-color: #fff;
					}
					.cell input[type="text"], .cell textarea{
						width: 100%;
					}
					.cell textarea{
						border-radius: 1rem 1rem 0 0;
						height: 4rem;
						padding: 0.5rem;
					}
					.cell #submit{
						border-radius: 1rem;
						height: 2rem;
						width : 5rem;
						font-size: 0.7rem; 
					}
				}
			}
		}
	}

}