{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<section>
	<h2 class="mt-5 pl-5">Bienvenu {{name}} sur le dashboard</h2>
	<article class="m-5 p-5 container">
	{% csrf_token %} 
		<div class="row">
			<div class="graphe col-7 bg-primary text-center">
				<img id='graph' src="{%static 'img/graphique.jpg' %}" alt="graf nb de proprio à contacter(rouge) et ceux déjà contacté (bleu) en fonction du temps">
			</div>
			<div class="col-1"></div>
			<div class="col-3  container">
				<div class="h-100 bg-primary p-2">
					<div class="bg-secondary mt-3 h-25 d-flex align-items-center justify-content-center curs-pointer" title="propriétaire(s) devant stériliser">25</div>
					<div class="bg-secondary mt-3 h-25 d-flex align-items-center justify-content-center curs-pointer" title="propriétaire(s) à contacter">17</div>
					<div class="bg-secondary mt-3 h-25 d-flex align-items-center justify-content-center curs-pointer" title="propriétaire(s) contacté(s)">8</div>
				</div>
			</div>
			<div class="col-1"></div>
		</div>

	</article>
</section>
{% endblock  %}

