{% extends 'core/base.html' %}
{% block content %}
{% load static%}
<section>
	<h2 class="mt-3 mb-4 pl-5">Page Ajout Fiche</h2>
	<article class="">
		<form class="sheet" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container border-white">
				<div class="row">
					<div class="col-5 container">
						<div class="row part-add">
							<h4 class="mt-3 mb-4 pl-5">Animal</h4>
							<div class="col-12 d-flex">
								<div class="col-6">
									<p>{{form.name.label}} : {{form.name}}</p>
								</div>
								<div class="col-6">
									<p>{{form.color.label}} : {{form.color}}</p>
								</div>
							</div>
							<div class="col-12 d-flex">
								<div class="col-6">
									<p>Espèce :<br> {{form.species}}</p>
								</div>
								<div class="col-6">
									<p>Race : {{form.race}}</p>
								</div>
							</div>
							<div class="col-12">
								<hr align=center size=4 width="50%" class="add-hr"/>
							</div>
							<div class="col-6">
								<p class="text-center">Date de naissance : {{form.date_of_birth}}</p>
							</div>
							<div class="col-6">
								<p class="text-center">Date d'adoption : {{form.date_of_adoption}}</p>
							</div>
							<div class="col-12">
								<hr align=center size=4 width="50%" class="add-hr"/>
							</div>
							<div class="col-6">
								<p class="text-center">Caution : {{form.caution}}</p>
							</div>
							<div class="col-6">
								<p class="text-center">Nature : {{form.nature_caution}}</p>
							</div>
						</div>
					</div>
					<div class="col-7 container">
						<div class="row part-add">
							<h4 class="mt-3 mb-4 pl-5">Admin</h4>
							<div class="col-12 d-flex">
								<div class="col-4">Dossier : {{form.file}}</div>
								<div class="col-4">Puce : {{form.chip}}</div>
								<div class="col-4">Tatouage : {{form.tatoo}}</div>
							</div>
							<div class="col-12">
								<hr align=center size=4 width="50%" class="add-hr"/>
							</div>
							<div class="col-12">
								<div class="col-12 pl-0">{{form.is_neutered}}</div>
								<div class="col-12">{{form.status}}</div>
							</div>
						</div>
						<div class="row part-add">
							<h4 class="mt-3 mb-2 pl-5">Propriétaire</h4>
							<div class="col-12 d-flex pt-5">
								<div class="col-9 d-flex very-center curs-pointer  ">
									{{form.select_owner}} <p class=" pt-3 ml-5"><img class="icon-link" src="{% static 'img/eye.png'%}" onclick="GotoOwner()" alt="eye"></p>
								</div>

								<div class="col-3 d-flex very-center curs-pointer" >
									<input id="save" type="submit" class="btn btn-primary big-btn" value="Enregistrer"> 
								</div>
							</div>
							<p id="hint"></p>
						</div>
					</div>
				</div>
			</div>
		</form>
	</article>
</section>

<script type="text/javascript">
	/* *** plan ***
	1/ User select new or former owner
	2/ 	A. new displays Ownerform
	2/ 	B. former displays select with owner in option
	3/ Client sends Ajax request to get more infos about selected owner id
	4/ Client receives info, success > display ownerform and fill it
	*/

	let is_neutered_button = document.getElementById("id_is_neutered_0")
	is_neutered_button.checked = true
	// let owner_sex_button = document.getElementById("id_owner_sex_0")
	// owner_sex_button.checked = true
	let divNF = document.getElementsByClassName("new-former")[0]
	let ownDivs = document.getElementsByClassName('owner_input') //div for input owner
	let divFormer = document.getElementsByClassName("former-owner")[0] //div for button Ancien Propériétaire
	let divNew = document.getElementsByClassName("new-owner")[0] //div for button Nouveau Propériétaire

	let is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
         
    const clickSelectedOption = function(select) {
        if(!is_chrome) return;
        select.options[select.selectedIndex].click();
        if (select.selectedIndex == "0" || select.selectedIndex == "1") {
        	document.getElementById("id_caution").value = 100
        }else{
        	document.getElementById("id_caution").value = 200
        }
    }
	const GotoOwner = function(){
		//this function gathers the value of select and open a new window according to this id_value"""
		select_val = document.getElementById('id_select_owner').value
		const width  = document.body.clientWidth;
		const height = document.body.clientHeight;
		let wanted_width = (width * 35)/100
		let wanted_height = (height * 70)/100

		if (select_val == "0"){
			url_open = "{% url 'sheet:add_owner_open'%}"
		}
		{% for owner in owners %}
		if (select_val == {{owner.id}}){
			wanted_width = (width * 65)/100
			wanted_height = (height * 80)/100
			url_open = "{% url 'sheet:alter_owner_open' owner.id%}"

		}
		{% endfor %}
		document.getElementById('hint').innerHTML="Appuyer sur F5 après toutes sortes de changements"
		console.log(wanted_width, wanted_height)
		let spec =  "toolbar=yes,scrollbars=yes,resizable=yes,top=50,left=200,width="
		spec += wanted_width+",height="+wanted_height
		window.open(url_open, "_blank", spec);
		confirm("On continue ?")
		window.location.href = window.location.href
	}

	//*** auto fill with today date 
	const today = function(elem) {
		let today = new Date();
		let month = today.getMonth()+1
		if (month <= 9) {
			month = '0' + String(month)}
			let date = today.getDate()+'/'+month+'/'+today.getFullYear();
			let input = elem.nextElementSibling.nextElementSibling
			input.value = date
		} 

	//create an input date for the dates of neuter
	const appearNewDateInput = function(nb){
		is_neuter = document.getElementById('id_is_neutered_0')
		willBe = document.getElementById('id_is_neutered_2')
		if (nb == "0"){
			is_neuter.checked = true
			is_neuter.parentNode.innerHTML = '<input id="id_is_neutered_0" class="lst-none pl-0 mb-0" type="radio" name="is_neutered" value="2" checked> stérilisé le {{form.date_of_neuter}}.</input>'
			willBe.parentNode.innerHTML = '<input id="id_is_neutered_2" class="lst-none pl-0 mb-0" type="radio" name="is_neutered" value="2" > sera stérilisable </input>'
			return true
		}
		else if (nb == "2"){
			willBe.checked = true
			willBe.parentNode.innerHTML = '<input id="id_is_neutered_2" class="lst-none pl-0 mb-0" type="radio" name="is_neutered" value="2" checked> sera stérilisable le {{form.futur_date_of_neuter}}.</input>'
			is_neuter.parentNode.innerHTML = '<input id="id_is_neutered_0" class="lst-none pl-0 mb-0" type="radio" name="is_neutered" value="0">stéril</input>'
			return true
		}else{
			is_neuter.checked = false
			willBe.checked = false
			is_neuter.parentNode.innerHTML = '<input id="id_is_neutered_0" class="lst-none pl-0 mb-0" type="radio" name="is_neutered" value="0">stéril</input>'
			willBe.parentNode.innerHTML = '<input id="id_is_neutered_2" class="lst-none pl-0 mb-0" type="radio" name="is_neutered" value="2" > sera stérilisable </input>'
		}
	}

	const GiveStartValue = function(){
		document.getElementById("id_caution").value = 100
	}
	const getInputDate = function(){
		const allInput = document.getElementsByTagName('input')
		let allInputDate = []
		for (input of allInput){
			if (input.id.substring(0,7) == "id_date"){
				allInputDate.push(input)
			}else if (input.id == "id_date_of_neuter" && input.value == ''){
				console.log('pas de date de stérilisation')
			}
		}
		console.log(allInputDate)
		return allInputDate
	}
	//*** event 
	document.getElementById('id_is_neutered_0').parentNode.onclick = function(e){
		if (e.target.name == "date_of_neuter"){
			return
		}else{
			appearNewDateInput("0")
		}
	}
	document.getElementById('id_is_neutered_1').parentNode.onclick = function(){

		appearNewDateInput("1")
	}
	document.getElementById('id_is_neutered_2').parentNode.onclick = function(e){
		if (e.target.name == "futur_date_of_neuter"){
			return
		}else{
			appearNewDateInput("2")
		}
	}
	const main = function(){
		GiveStartValue()
	}
	main()
</script>
{% endblock  %}

