{% extends 'core/base.html' %}
{% block content %}
<section>
	<p class="curs-pointer back-button" onclick=BackToIndex()>Retour Index</p>
	<h2 class="mt-5 mb-5 pl-5">Page Nouveau Propriétaire</h2>
	<article class=" bg-grey pt-5 pb-5">
		<form id='form' class="sheet" action="{% url 'sheet:add_owner'%}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container">
				<div class="row">
					<div class="col-2"></div>
					<div class="col-8 bg-blue-trans container">
						<div class="row owner_input d-flex mt-3 mb-3">
							{% for field in form %}
							<div class="col-2"></div>
							<div class="col-2 text-center">{{field.label}}</div>
							<div class="col-6 text-center own_input">{{field}}</div>
							<div class="col-2"></div>
							{% endfor %}
						</div>
					</div>
					<div class="col-2"></div>
					<div class="col-2"></div>
					<div class="col-8  d-flex align-items-center">
						<div class="container">
							<div class="row pt-3">
								<div  class="col-6 very-center curs-pointer" >
									<button id="delete-all" class="btn big-btn" onclick="dispNewOwn()">Tout effacer</button>
								</div>
								<div class="col-6 very-center">
									<input id="save" type="submit" class="btn btn-primary big-btn" value="Enregistrer"> 
								</div>
								<div class="col-12 very-center">
									<p id='verif' class="alert-secondary"></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-2"></div>
				</div>			
			</div>
		</form>
	</article>
</section>
	{% load static %}
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src='{% static "sheet/js/utils.js" %}'> </script>
	<script type="text/javascript">
		/* *** plan ***
		1/ User select new or former owner
		2/ 	A. new displays Ownerform
		2/ 	B. former displays select with owner in option
		3/ Client sends Ajax request to get more infos about selected owner id
		4/ Client receives info, success > display ownerform and fill it
		*/

		const phoneNumber = document.getElementById('id_phone')
		const BackToIndex = function(){
			window.location.href = "{% url 'sheet:index' own=1%}"
			// window.location.href = window.location.href; 
		}


		const BeforeSubmit = function(){
			document.getElementById('save').addEventListener('click', function(event){
				// event.preventDefault()
				let verif = document.getElementById('verif')
				verif.innerHTML = ""
				nodes = document.querySelectorAll('input[type=text]')
				inputs = Array.from(nodes)
				inputs.splice(0,1)
				console.log(inputs)
				if (CheckPhoneNumber() != true){
					event.preventDefault()
					alert("Format numéro de téléphone : invalide")
					return
				}
				for (input of inputs){
					if (input.value == 0){
						alert("Tous les champs doivent être remplis.")
						event.preventDefault()
						return
					}
				}
			})	
		}
		const CheckPhoneNumber = function(){
			const reg_telephone = /^(\+\d+(\s|-))?0\d(\s|-|\.)?(\d{2}(\s|-|\.)?){4}$/
			if (phoneNumber.value.match(reg_telephone)){
				return true
			}else{
				return false
			}
		}
		BeforeSubmit()
		{% if error %}
		document.getElementById('verif').innerHTML = "{{error}}"
		{% endif %}


	</script>
{% endblock  %}

