{% extends 'core/base.html' %}
{% block content %}
<section>
	<p class="curs-pointer" onclick=BackToIndex()>Retour Index</p>
	<h2 class="mt-5 mb-5 pl-5">Page Ajout Nouvelle Fiche Propriétaire</h2>
	<article class=" bg-blue">
		<form id='form' class="sheet" action="{% url 'sheet:add_owner'%}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container">
				<div class="row">
					<div class="col-8 bg-yellow container">
						<div class="row owner_input d-flex">
							<div class="col-4 text-center">{{form.owner_name.label}}<br/> {{form.owner_name}}</div>
							<div class="col-4 text-center">{{form.owner_surname.label}}<br/> {{form.owner_surname}}</div>
							<div class="col-4 text-center very-center">{{form.owner_sex}}</div>
						</div>
						<div class="row owner_input">
							<div class="col-6 text-center">{{form.mail_reminder.label}}<br/> {{form.mail_reminder}}</div>
							<div class="col-6 text-center">{{form.tel_reminder.label}}<br/> {{form.tel_reminder}}</div>
						</div>
						<div class="row owner_input d-flex">
							<div class="col-1"></div>
							<div class="col-5 text-center"><p>{{form.phone.label}}</p>{{form.phone}}</div>
							<div class="col-5 mb-2 text-center"><p>{{form.mail.label}}</p> {{form.mail}}</div>	
							<div class="col-1"></div>
						</div>
						<div class=" row d-flex new-former">
							<!-- <div class="col-1"></div> -->
							<div class="col-3"></div>
							<div class="col-6 new-owner  very-center curs-pointer" onclick="dispNewOwn()">
								Tout effacer
							</div>
							<div class="col-3"></div>

						</div>
					</div>			
					<div class="col-4 bg-green d-flex align-items-center">
						<div class="container">
							<div class="row">
								<div class="col-12 very-center">
									<input id="save" type="submit" class="btn btn-primary big-btn" value="Enregistrer"> 
								</div>
								<div class="col-12 very-center">
									<p id='verif' class="alert-secondary"></p>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</form>
	</article>
</section>
	{% load static %}
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src='{% static "sheet/js/utils.js" %}'> </script>
	<script type="text/javascript">
		/* *** plan ***
		1/ User select new or former owner
		2/ 	A. new displays Ownerform
		2/ 	B. former displays select with owner in option
		3/ Client sends Ajax request to get more infos about selected owner id
		4/ Client receives info, success > display ownerform and fill it
		*/

		const phoneNumber = document.getElementById('id_phone')
		const BackToIndex = function(){
			window.location.href = "{% url 'sheet:index' own=1%}"
			// window.location.href = window.location.href; 
		}

		const BeforeSubmit = function(){
			document.getElementById('save').addEventListener('click', function(event){
				// event.preventDefault()
				let verif = document.getElementById('verif')
				verif.innerHTML = ""
				nodes = document.querySelectorAll('input[type=text]')
				inputs = Array.from(nodes)
				inputs.splice(0,1)
				console.log(inputs)
				if (CheckPhoneNumber() != true){
					event.preventDefault()
					alert("Format numéro de téléphone : invalide")
					return
				}
				for (input of inputs){
					if (input.value == 0){
						alert("Tous les champs doivent être remplis.")
						event.preventDefault()
						return
					}
				}
			})	
		}
		const CheckPhoneNumber = function(){
			const reg_telephone = /^(\+\d+(\s|-))?0\d(\s|-|\.)?(\d{2}(\s|-|\.)?){4}$/
			if (phoneNumber.value.match(reg_telephone)){
				return true
			}else{
				return false
			}
		}
		BeforeSubmit()
		{% if error %}
		document.getElementById('verif').innerHTML = "{{error}}"
		{% endif %}


	</script>
{% endblock  %}

