{% extends 'core/base.html' %}
{% block content %}
<section id="alter">
	<h2 class="mt-5 pl-5">Page Modification Fiche {{animal.name}}</h2>
	<article class="mt-5 bg-blue">
		<form class="sheet" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="container">
				<div class="row">
					<div class="col-8 bg-yellow container">
						<div class="row">
							<div class="col-3 text-center">{{form.name.label}} {{form.name}}</div>
							<div class="col-3 text-center">{{form.date_of_birth.label}}{{form.date_of_birth}}</div>
							<div class="col-3 text-center">{{form.date_of_adoption.label}}{{form.date_of_adoption}}</div>
							<div class="col-3 text-center">{{form.date_of_neuter.label}}{{form.date_of_neuter}}</div>
						</div>
						<div class="row">
							<div class="col-6" >
								<div class="row">
									<div class="col-6 bg-primary"> {{form.species}}</div>
									<div class="col-6 bg-primary" id='inputDateZone'> {{form.is_neutered}}</div>
								</div>
							</div>
							<div class="col-6 bg-secondary text-center">
								<p>{{form.race.label}} {{form.race}}</p>
								<p>{{form.color.label}}  {{form.color}}</p>
								<p>{{form.observation.label}} {{form.observation}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-4 text-center">{{form.file.label}}<br/> {{form.file}}</div>
							<div class="col-4 text-center">{{form.tatoo.label}}<br/> {{form.tatoo}}</div>
							<div class="col-4 text-center">{{form.chip.label}}<br/> {{form.chip}}</div>
						</div>
						<div class="row">
							<div class="col-4 text-center">{{form.caution.label}}<br/> {{form.caution}}</div>
							<div class="col-4 text-center">{{form.mail_reminder.label}}<br/> {{form.mail_reminder}}</div>
							<div class="col-4 text-center">{{form.tel_reminder.label}}<br/> {{form.tel_reminder}}</div>
						</div>
						<div class="row">
							<div class="col-4 text-center">{{form.owner_name.label}}<br/> {{form.owner_name}}</div>
							<div class="col-4 text-center">{{form.owner_surname.label}}<br/> {{form.owner_surname}}</div>
							<div class="col-4 text-center">{{form.owner_sex}}</div>
						</div>
						<div class="row">
							<div class="col-1"></div>
							<div class="col-4 text-center">{{form.phone.label}}<br/> {{form.phone}}</div>
							<div class="col-7 mb-2 text-center">{{form.mail.label}}<br/> {{form.mail}}</div>
						</div>
					</div>			
					<div class="col-4 bg-green">
						<div class="container">
							<div class="row">
								<div class="col-12 text-center">{{form.status}}</div>
								<div class="col-8"></div>
								<div class="col-4">
									<input type="submit" class="btn btn-primary big-btn" value="Enregistrer">
								</div>
								<div class="col-12">
									{% if error %}
									<p> {{error}}</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</form>
	</article>
	<script type="text/javascript">

		let true_radio = document.getElementById("id_is_neutered_0");
		true_radio.checked = true;
		let species0 = document.getElementById("id_species_0");
		species0.checked = true;
		
		//complete the blank
		//1 select inputs
		function appearNewInput(){
			//create an input date
			let divDate = document.createElement("div");
			divDate.innerHTML = '{{form.futur_date_of_neuter}}'
			document.getElementById('inputDateZone').appendChild(divDate);

		}
		document.getElementById("id_is_neutered_2").addEventListener('click', function(e){
			if(e.target.checked){
				appearNewInput();
			}
		})

		function GetTheBlank(){
			const inputsNodes = document.querySelectorAll("section#alter input"); 
			const inputs = Array.from(inputsNodes);	
			let inputsToFill = new Array()
			let choicesToMake = new Array()
			for (input of inputs){
				let count = 0 
				for (elem of ['id_species_0','id_species_1','id_species_2','id_species_3', 'id_is_neutered_0', 'id_is_neutered_1', 'id_is_neutered_2', 'id_owner_sex_0', 'id_owner_sex_1']){
					if (input.id == elem){
						choicesToMake.push(input);
						count ++
					}
				}
				if (count == 0){
					inputsToFill.push(input);
				}
			}
			inputsToFill.splice(0, 1);
			inputsToFill.pop(inputsToFill.length-1)	
		return [inputsToFill, choicesToMake];
		}

		//fills the inputs
		function FillTheInputs(champs){
			// this functions fills the inputs with the given data from animal
			values = ['{{animal.name}}','{{animal.date_of_birth|date:"d/m/Y"}}','{{animal.date_of_adoption|date:"d/m/Y"}}','{{animal.admin_data.date_of_neuter|date:"d/m/Y"}}',
			'{{animal.race}}', '{{animal.color}}', '{{animal.observation}}', "{{animal.admin_data.file}}", "{{animal.admin_data.tatoo}}", "{{animal.admin_data.chip}}", "{{animal.owner.caution}}", "{{animal.owner.tel_reminder}}","{{animal.owner.mail_reminder}}", "{{animal.owner.owner_name}}", "{{animal.owner.owner_surname}}", "{{animal.owner.phone}}", "{{animal.owner.mail}}" ]
			for (i in values){
				champs[i].value = values[i];
			}
			document.getElementById('id_status').innerHTML = "{{animal.admin_data.status}}"
		}
		//make choices
		function CheckCHoices(checkboxes){
			// this function checks the concerned checkbox according to the given datas for db
			let choice1 = ('id_species_' + '{{animal.species}}')
			let choice2 = ('id_is_neutered_' + '{{animal.admin_data.is_neutered}}')
			if ('{{animal.owner.owner_sex}}' == 'H'){
				sex = 0;
			}else{
				sex = 1;
			}
			let choice3 = ('id_owner_sex_' + sex)

			for (let choice of [choice1, choice2, choice3]){
				for (let checkbox of checkboxes){
					if (choice == checkbox.id){
						a = checkbox
						checkbox.checked = true;
						if (checkbox.id == "id_is_neutered_2" ){
							appearNewInput();
							let newInput = document.getElementById('id_futur_date_of_neuter'); 
							newInput.value ='{{animal.admin_data.futur_date_of_neuter|date:"d/m/Y"}}'; 
						}
						break; 
					}
				}
			}
		}

		let my_form  = GetTheBlank() //gives the void inputs in order to fill them  

		FillTheInputs(my_form[0])
		CheckCHoices(my_form[1])

	</script>
	{% endblock  %}

