{% extends 'spa_core/base.html' %} 
{% block content %}
<header>
    <p class="back-button" onclick=BackToIndex()>Retour Index</p>
    <h2 class="title-historic">
        Historique des contacts pour {{owner}}
    </h2>
</header>
<article class="historic">

    <div class="container-button-cud">
        {% include "./libs/cud_btn.html"%}
    </div>

    <div class="historic-table">
        <div class="historic-table-title">
            <div  class="col-name">&nbsp;</div>
            {% for col in historic_cols %}
            <div  class="col-name"><strong>{{col}}</strong></div>
            {% endfor %}
        </div>
        <div id="tableContact" class="scrollable-part">
            {% for contact in contacts|dictsort:"contact_date"%}
            <div id="tr_{{forloop.counter}}"class=" rows {% cycle 'row1' 'row2' %}">
                <div class="cell"><input type="checkbox" id='id_contact_{{contact.id}}' name='checkbox' title="{{contact.id}}" value={{contact.id}}></div>
                <div class="cell">{{contact.contact_date}}</div>
                <div class="cell">{{contact.str_nature}}</div>
                <div class="cell">{{contact.resume}}</div>
                <div class="last-cell">{{contact.reduced_text|escape}}</div>
           </div>
           {% endfor %}
       </div>
   </div>
</article>

<script type="text/javascript">
    
    //###################
    //#### VARIABLES ####
    //###################

    console.log(csrftoken)
    const trRow1 = Array.from(document.getElementsByClassName('row1'));
    const trRow2 = Array.from(document.getElementsByClassName('row2'));
    const allTr = trRow1.concat(trRow2)
    let table = document.getElementById('tableContact')
    console.log(allTr)
    const form = document.getElementById('my_form')
    const createBtn = document.getElementById("create")    
    const updateBtn = document.getElementById("update")  // select + CTRLD > const Alter
    const deletionBtn = document.getElementById("delete")   // select + CTRLD > const 
    const submitBtn = document.getElementById("submit")

    //###################
    //#### FUNCTIONS ####
    //###################


    const BackToIndex = function(){
        window.location.href = "{% url 'sheet:index' own=1%}"
        // window.location.href = window.location.href; 
    }
    //returns the number of lines
    const GetCounter = function(){
        tabRows = document.getElementsByClassName('rows')
        return tabRows.length
    }

    //gets data, sends them to server and refresh
    const GetDatasAndWrite = (counter, action, idModif) => {
        console.log('GetDatasAndWrite')
        console.log(counter, action, idModif)
        keys = ["contact_date", "nature", "resume", "full_text"]
        idFromInputs = [
            "id_date_"+counter, "id_select_"+counter, "id_title_"+counter, "id_area_"+counter
        ]
        value = {}
        for (i in idFromInputs){
            console.log(keys[i] + " - " + idFromInputs[i])
            value[keys[i]] = document.getElementById(idFromInputs[i]).value
        }
        let whatToDo = function(data){
            window.location.href = window.location.href  
        }
        if (action == 'add'){
            sendDatasToServer(value, "{% url 'sheet:contact_owner' owner.id 'add'%}", whatToDo)

        }else if (action == 'modify'){
            value['id_modif'] = idModif

            sendDatasToServer(value, "{% url 'sheet:contact_owner' owner.id 'modify'%}", whatToDo)
        }
    }

    const SpecifyInput = function(tabInput, counter){
        //this function specifies the given input}
        date = tabInput[0]
        date.type = 'date'
        date.id = "id_date_" + counter
        select = tabInput[1]
        select.id = "id_select_" + counter
        options = [
        {'value' : "0", "name": "sélectionnez un type"},
        {'value' : "1", "name": "mail spa"},
        {'value' : "2", "name": "tel spa"},
        {'value' : "3", "name": "mail propriétaire"},
        {'value' : "4", "name": "tel propriétaire"},
        {'value' : "5", "name": "mail automatique"},
        ]
        for (opt of options){
            option = document.createElement('option')
            option.id = "id_option_" + counter
            option.value = opt.value
            option.innerHTML = opt.name
            select.appendChild(option)
        }
        title = tabInput[2]
        title.id = "id_title_" + counter
        title.classList.add("input-title")

        area = tabInput[3]
        area.id = "id_area_" + counter
        area.rows="2" 
        area.cols="33"
    }

    const AddCSRFTocken = (tdCheck) => {
        // add csrf_token
        csrfToken = document.createElement('input')
        csrfToken.type = "hidden"
        csrfToken.name = "csrfmiddlewaretoken"
        csrfToken.value = "{{csrf_token}}"
        tdCheck.appendChild(csrfToken)
    }

    const CreateTrPlusCheckbox = (counter, table) =>{
        tr = document.createElement('div')
        tr.id = "tr_" + (counter + 1)
        tr.classList.add("bg-thrid-color") 
        tr.classList.add("row-editor")  
        table.appendChild(tr)
        tdCheck = document.createElement('td')
        checkbox = document.createElement('input')
        checkbox.type = "checkbox"
        tdCheck.classList.add("cell")
        tr.appendChild(tdCheck)
        tdCheck.appendChild(checkbox)
        AddCSRFTocken(tdCheck)
        return tr
    }

    const AddInputs = (listInputs, tr) => {
        let tabInput = []
        loop = 0
        for (elem of listInputs){
            loop ++
            td = document.createElement('div')
            td.classList.add('cell')
            input = document.createElement(elem)
            if (loop == 3){ 
                input.setAttribute("type", "text")
                input.placeholder = "Emplacement pour un titre"
            }
            if (loop == 4){ 
                input.placeholder = "Emplacement pour un résumé"
            }
            tabInput.push(input)
            tr.appendChild(td) 
            td.appendChild(input)
        }
        return tabInput 
    }

    const AddSubmitBtn = (counter, tr) =>{
        lastTD = document.createElement('div')
        lastTD.classList.add('cell')
        but = document.createElement('button')
        but.innerHTML = "valider"
        but.id = "submit"
        but.onclick = function(event){
            e = event || window.event;
            e.preventDefault()
            GetDatasAndWrite(counter, 'add')
        }
        tr.appendChild(lastTD) 
        lastTD.appendChild(but)
    }

    const CreateContact = () => {
        //this function adds a new line in table
        let counter = GetCounter()
        //create new line + checkbox input at the very last line
        tr = CreateTrPlusCheckbox(counter, table) //params : (container)
        console.log(tr)
        //add inputs and textarea to this line || params : (listInputs + container)
        tabInput = AddInputs(["input","select","input","textarea"], tr) 
        //add submit button
        AddSubmitBtn(counter, tr)

        SpecifyInput(tabInput, counter)
    }
    const GetChecked = function(){
        //this function returns an Array of selected html checkbox (not id)
        const checkboxes = document.querySelectorAll('input[type=checkbox]');
        count = 0; 
        let elemCheckedList = []
        for (checkbox of checkboxes){
            if (checkbox.checked){
                elemCheckedList.push(checkbox)
                count ++;
            }
        }
        console.log(elemCheckedList)
        return [elemCheckedList, count]
    }
    const DeleteContact = function(){
        let toDelete = GetChecked()[0]
        let count = GetChecked()[1]
        if (count == 0){
            alert('sélectionnez au moins une fiche à supprimer !')
        }else {
            let msg = 'Confirmez-vous la suppression de '+ count + ' éléments :'
            let response = false
            let idToDelete = []
            for (elem of toDelete){
                date = elem.parentElement.nextElementSibling.textContent
                title = elem.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.textContent
                msg = msg + "\n  >" + date + " - " + title;
                idToDelete.push(elem.id.slice(11))
            }
            console.log(idToDelete)
            response = confirm(msg);
            if (response){
                let whatToDo = function(data){  
                    window.location.href = window.location.href  
                }
                data = {"id_check" : idToDelete, }
                console.log(data)
                sendDatasToServer(data, "{% url 'sheet:contact_owner' owner.id 'remove'%}", whatToDo)
            }
        }
        form.setAttribute('action', "");
    }
    const GetValuesFromOwner = function(idSelected){
        //this function return an Array with all values in a row
        let values = []
        {% for contact in contacts%}
        if (idSelected == '{{contact.id}}')
            values = ["", '{{contact.contact_date|date:"Y-m-d" }}', "{{contact.nature}}", "{{contact.resume|escapejs}}", "{{contact.full_text|escapejs}}", ]
        {% endfor %}
        console.log(values)
        return values
    }
    const FillInput = function(values, elemSelected){
        //this function gets the selected input and fill it with values
        elemId = elemSelected.id.slice(11)
        counter = GetCounter() - 1
        tr = document.getElementById("tr_"+(counter + 2 ))
        index = 0
        for (td of tr.children){
            console.log(td)
            td.children[0].value = values[index]
            index ++ 
        }

        submitModifBtn = tr.children[5].children[0]
        submitModifBtn.classList.add('curs-pointer')
        submitModifBtn.onclick = (event) => {
            e = event || window.event;
            e.preventDefault()
            GetDatasAndWrite(counter+1, 'modify', elemId)
        }
    }
    const Alter = function(elemSelected=null, parent=null){
        if (elemSelected == null){
            let elemSelected = GetChecked()[0][0]
            count = GetChecked()[1]
            if (count == 0){
                alert("Vous devez sélectionner un contact !")
                return
            }else if (count > 1){
                alert("Vous ne pouvez modifier qu'un seul contact à la fois !")
                return
            }
        }
        let tr = parent==null ? 
        elemSelected.parentElement.parentElement : parent
        console.log("parent : " + parent)
        tr.classList.add('d-none')
        values = GetValuesFromOwner(elemSelected.id.slice(11))
        CreateContact() //generate a new line as a form
        FillInput(values, elemSelected)
    }

    //###################
    //####  EVENTS   ####
    //###################

    createBtn.onclick = () => {
        CreateContact()
    }
    updateBtn.onclick = () => {
        UpdateContact()
    }
    deletionBtn.onclick = () => {
        DeleteContact()
    }

        //click and dbclick on table row
    for (tr of allTr){
        tr = Array.from(tr.children)
        tr.splice(0,1)
        for (child of tr){
            child.onclick = function(e){
                let target = e.target.parentElement.children[0].children[0];                
                if (target.checked == true){
                    target.checked=false; 
                }else{
                    target.checked=true;
                }
            };
            child.ondblclick = function(e){
                // this event opens alter page for animal or owner
                let target = e.target.parentElement.children[0].children[0];
                let parent = e.target.parentElement
                if (target.checked == true){
                    target.checked=false; 
                }else{
                    target.checked=true;
                }

                Alter(target, parent)
                
            };
        }
    }

</script>
{% endblock  %}