{% extends 'core/base.html' %}
{% block content %}
<section>
    <h2 class="mt-5 pl-5">Page Fiches</h2>
    <article class="mt-5 container">
        <div class="row">
            <div class="col-1"></div>
            {% for elem in button_value %} <!-- affiche les boutons -->
            <div class="col-2 bg-primary text-center">
                <button id="{{elem.id}}" onclick="{{elem.function}}">{{elem.name}}</button>
            </div>
            {% endfor %}
            <div class="col-1"></div>
            <div class="col-12 mb-5 text-center">
                <button>imprimer</button>
            </div>
            <form id="my_form" action="" method="" name="my_form">
                {% csrf_token %} 
                <table id="anim_table" class=" d-flex">
                    <tr class="col-12 text-center">
                        <td>&nbsp;</td>
                        {% for col in anim_cols %}
                        <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% for animal in animals|dictsort:"name" %}
                    <tr class="col-12 text-center {% cycle 'row1' 'row2' %}">
                        <!-- nom sexe/espece status propriétaire num-dossier num-tatoo num-puce -->
                        <td><input type="checkbox" id='{{animal.id}}' name='checkbox' value={{animal.id}}></td>
                        <td>{{animal.name}}</a></td>
                        <td>{{animal.admin_data.neuter_status}}</td>
                        <td>{{animal.species_name}}</td>
                        <td>{{animal.race}}</td>
                        <td>{{animal.owner}} </td>
                        <td>{{animal.admin_data.file}}</td>
                        <td>{{animal.admin_data.tatoo}}</td>
                        <td>{{animal.admin_data.chip}}</td> 

                    </tr>
                    {% endfor %}
                </table>
                <table id="owner_table" class=" d-none">
                    <tr class="col-12 text-center">
                        <td>&nbsp;</td>
                        <td>nombre d'animaux</td>
                        <td>Nom</td>
                        <td>Prénom</td>
                        <td>Caution</td>
                        <td>Besoin contact</td>
                        <td>tel</td>
                        <td>mail</td>
                        <td>nb appel</td>
                        <td>nb mail</td>
                    </tr>
                     {% for owner in owners|dictsort:"number_animal" %}
                    <tr class="col-12 text-center {% cycle 'row1' 'row2' %}">
                        <td><input type="checkbox" id='{{owner.id}}' name='checkbox' value={{owner.id}}></td>
                        <td>{{owner.number_animal}}</a></td>
                        <td>{{owner.owner_name}}</a></td>
                        <td>{{owner.owner_surname}}</a></td>
                        <td>{{owner.caution}}</td>
                        <td>{{owner.need_contact}}</td>
                        <td>{{owner.phone}}</td>
                        <td>{{owner.mail}} </td>
                        <td>{{owner.tel_reminder}}</td>
                        <td>{{owner.mail_reminder}}</td>                  
                        <td class="bg-white border-blue">
                            <a href="{% url 'sheet:contact_owner' owner.id%}">historique contact pour {{owner.owner_name}} {{owner.owner_surname}}</td></a>                 
                    </tr>
                    {% endfor %}
                </table>
            </form>
        </div>
    </article>
</section>
{% load static %}
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script type="text/javascript" src='{% static "sheet/js/utils.js" %}'> </script>
<script type="text/javascript">
    //**********Modification boostrap **********    
    let displayButt = document.getElementById('display')
    displayButt.parentElement.classList.replace('col-2', 'col-4')
    const form = document.getElementById('my_form');
    let trRow1 = Array.from(document.getElementsByClassName('row1'));
    let trRow2 = Array.from(document.getElementsByClassName('row2'));
    allTr = trRow1.concat(trRow2)

    const UncheckAll = function(){
        //this function unchecks all the checkbox visible and invisible
        for (tr of allTr){
            tr.children[0].firstChild.checked = false
        }
    }


    const isForAnimal = function(){
        return displayButt.textContent == "Afficher Propriétaires"
    }
    //click on line means checkbox checked
    const activClickEvent = function(page){
        for (tr of allTr){
            tr.style.cursor = 'pointer'; 
            tr = Array.from(tr.children)
            tr.splice(0,1)
            for (child of tr){
                child.addEventListener('click', function(e){
                    let target = e.target.parentElement.children[0].firstChild;
                    console.log(e.target.tagName)
                    if (target.checked == true){
                        target.checked=false; 
                    }else{
                        target.checked=true;
                    }
                });
                child.addEventListener('dblclick', function(e){
                    // this event opens alter page for animal or owner
                    targid = e.target.parentElement.children[0].firstChild.id
                    if (isForAnimal()){
                        {% for animal in animals %}
                        if (targid == "{{animal.id}}"){
                            window.location.href = "{%url 'sheet:alter' animal.id%}" 
                        }
                        {% endfor %}
                    }else{
                        {% for owner in owners %}
                        if (targid == "{{owner.id}}"){
                            window.location.href = "{%url 'sheet:alter_owner' owner.id%}"
                        }
                        {% endfor %}
                    }
                });
            }
        }
    }

    function add(){
        if (isForAnimal()){
            add_page = getBaseUrl() + "add"
        }else{
            add_page = getBaseUrl() + "add_owner" 
        }
            window.location.href = add_page; 
    }
    function alter(){
        //check whether only 1 sheet is selected
        checkbox = document.querySelectorAll('input[type=checkbox]');
        count = 0; 
        for (i=0; i < checkbox.length; i ++){
            console.log(count)
            if (checkbox[i].checked){
                id_selected = checkbox[i].id
                count ++;}
            }
            if (count == 0){
                alert('sélectionnez une fiche à modifier !')
            }else if (count == 1){
                if (isForAnimal()){
                    alter_page = getBaseUrl() + "alter/"+ id_selected;
                }else{
                    alter_page = getBaseUrl() + "alter_owner/"+ id_selected;
                }
                window.location.href = alter_page; 
            }else{
                alert("trop de fiches sélectionnées (" + count + ").")
            }

        }

    function remove(){
        const checkbox = document.querySelectorAll('input[type=checkbox]');
        let count = 0; 
        let toDelete = []
        for (i=0; i < checkbox.length; i ++){
            if (checkbox[i].checked){
                toDelete.push(checkbox[i])
                count ++;
            }
        }
        if (count == 0){
            alert('sélectionnez au moins une fiche à supprimer !')
        }else {
            ToDelete = Array.from(toDelete)
            let msg = 'Confirmez-vous la suppression de '+ count + ' éléments :'
            let name = ""
            let response = false
            if (isForAnimal()){
                let specie = ""
                for (elem of toDelete){
                    name = elem.parentElement.nextElementSibling.textContent
                    specie = elem.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.textContent
                    msg = msg + "\n  >" + name + " - " + specie;
                }
                response = confirm(msg);
                if (response){
                    form.setAttribute('action', "{% url 'sheet:index' own=0%}");
                    form.setAttribute('method', "POST");
                    form.submit()
                }
            }else{
                let nb_animaux = ""
                let surname = ""
                for (elem of toDelete){
                    nb_animaux = elem.parentElement.nextElementSibling.textContent
                    name = elem.parentElement.nextElementSibling.nextElementSibling.textContent
                    surname = elem.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.textContent
                    if (nb_animaux != 0){
                        alert("Ce propriétaire ("+ name +" "+surname+") est lié à au moins une fiche animal. Il ne peut être suppprimé !")
                        return
                    }
                    msg = msg + "\n  > " + name + " " + surname + " ("+nb_animaux+" animal).";
                }
                response = confirm(msg);
                if (response){
                    form.setAttribute('action', "{% url 'sheet:index' own=1%}");
                    form.setAttribute('method', "POST");
                    form.submit()
                }

            }
        }
        form.setAttribute('action', "");
    }
    const display= function(){
        //display owner and change button value
        let addBut = document.getElementById('ajouter')
        let alterBut = document.getElementById('modifier')
        let removeBut = document.getElementById('supprimer')
        UncheckAll()


        if (displayButt.textContent == "Afficher Propriétaires"){
            document.getElementById('anim_table').classList.replace('d-flex', 'd-none');
            document.getElementById('owner_table').classList.replace('d-none', 'd-flex');
            displayButt.innerHTML = "Afficher <br/>Animaux"
            addBut.innerHTML = "Ajouter Propriétaire"  
            alterBut.innerHTML = "Modifier Propriétaire"  
            removeBut.innerHTML = "Supprimer Propriétaire(s)"  
        }else{
            document.getElementById('owner_table').classList.replace('d-flex', 'd-none');
            document.getElementById('anim_table').classList.replace('d-none', 'd-flex');
            displayButt.textContent = "Afficher Propriétaires"
            addBut.innerHTML = "Ajouter Animaux"  
            alterBut.innerHTML = "Modifier Animaux"  
            removeBut.innerHTML = "Supprimer Animal/Animaux"
        }
    }
    const displayOwner = function(){
        let dispOwn = ({{disp_owners}} == 1)
        if (dispOwn){
            display()
        }
    }
    const main = function(){
        activClickEvent()
        displayOwner()
        getBaseUrl()
    }
    main()
</script>
{% endblock  %}

