{% extends 'spa_core/base.html' %} 
{% block content %}
<h2 id="title" class="">Gestion Fiches ANIMAUX </h2>
<article class="art-sheet-index">
    <div class="container-button">
        <div class="container-button-toggle">
            <button id="display">Afficher PROPRIETAIRES</button>
        </div>
        <div class="container-button-cud">
            {% include "./libs/cud_btn.html"%}
        </div>
    </div>
    <form id="my_form" name="my_form">
        {% csrf_token %} 
        
        <div id="anim_table" class="table d-block ">

            <div class="row-title">
                {% for top_column in top_columns_anim %}
                <div class="col-name"><strong>{{top_column | safe}}</strong></div>
                {% endfor %}
            </div>
            <div class="scrollable-part">
                {% for animal in animals|dictsort:"name" %}
                <div class=" {% cycle 'row1' 'row2' %}">
                    <!-- nom sexe/espece status propriétaire num-dossier num-tatoo num-puce -->
                    <div class="container-checkbox"><input type="checkbox" id='{{animal.id}}' name='checkbox' value={{animal.id}}></div>
                    <div>{{animal.name}}</a></div>
                    <div>{{animal.admin_data.neuter_status}}</div>
                    <div>{{animal.str_species}}</div>
                    <div>{{animal.race}}</div>
                    <div>{{animal.owner}} </div>
                    <div>{{animal.admin_data.file}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="owner_table" class=" table d-none">

            <div class="row-title">
                {% for top_column in top_columns_owner%}
                <div class="col-name"><strong>{{top_column|safe}}</strong></div>
                {% endfor%}
            </div>
            <div class="scrollable-part">
                {% for owner in owners|dictsort:"owner_surname" %}
                <div class=" {% cycle 'row1' 'row2' %}">
                    <div class="container-checkbox">
                        <input type="checkbox" id='ow{{owner.id}}' name='checkbox' value={{owner.id}}>
                    </div>
                    <div>{{owner.id}}</a></div>
                    <div id="id_surname_{{owner.id}}">{{owner.owner_surname}}</a></div>
                    <div id="id_name_{{owner.id}}">{{owner.owner_name}}</a></div>
                    <div id="id_nb_{{owner.id}}">{{owner.number_animal}}</a></div>
                    <div>{{owner.sum_caution}}€</div>
                    <div>{{owner.phone}}</div>
                    <div class="bigger"><a href = "mailto:{{owner.mail}}">{{owner.mail}}</a></div>
                    <div>{{owner.tel_reminder}}</div>
                    <div>{{owner.mail_reminder}}</div>                  
                    <div class="">
                        <a id="id_contact_{{owner.id}}" href="{% url 'sheet:contact_owner' owner.id%}">gestion des contacts</a>
                    </div>                 
                </div>
                {% endfor %}
            </div>
        </div>
    </form>
</article>

<script type="text/javascript">  
    
    //###################
    //#### VARIABLES ####
    //###################

    const trRow1 = Array.from(document.getElementsByClassName('row1'));
    const trRow2 = Array.from(document.getElementsByClassName('row2'));
    const allTr = trRow1.concat(trRow2)
    const form = document.getElementById('my_form');

    const displayBtn = document.getElementById('display')
    const createBtn = document.getElementById("create")    
    const updateBtn = document.getElementById("update")  // select + CTRLD > const Alter
    const deletionBtn = document.getElementById("delete")   // select + CTRLD > const Remove

    let title = document.getElementById('title')



    //###################
    //#### FUNCTIONS ####
    //###################

    

    const Alter = (given_id=null) => {
        //throws user to update page 
        canAlter = true
        if(given_id == null ){
            canAlter = false
            checkboxes = document.querySelectorAll('input[type=checkbox]');
            result = GetSelectedCheckbox(checkboxes)
            given_id = result.idSelected
            result.count == 0 ? alert('sélectionnez une fiche à modifier !') : "";
            result.count > 1 ?  alert("trop de fiches sélectionnées (" + result.count + ").") : "";
            (result.count == 1) ? canAlter = true :canAlter = false
        }
        console.log(canAlter + "/ani : " + isForAnimal())
        if (canAlter && isForAnimal()){
            url_open = "{% url 'sheet:alter' 123%}".replace('123', given_id)
            window.location.href = url_open
        }else if (canAlter && !isForAnimal()){
            url_open = "{% url 'sheet:alter_owner_open' 123%}".replace('123', given_id)
            OpenSmallPageOwner(url_open) 
        }
    }

    const ChangeInterface = (whatToShow, whatTohide) =>{
        //modifies the interface anim < = > owner
        document.getElementById(whatTohide+'_table').classList.replace('d-block', 'd-none');
        
        document.getElementById(whatToShow+'_table').classList.replace('d-none', 'd-block');
        
        displayBtn.innerHTML = "Afficher ANIMAUX"
        title.innerHTML="Gestion Fiches PROPRIETAIRES"
        if (whatToShow == "anim"){
            title.innerHTML="Gestion Fiches ANIMAUX"
            displayBtn.innerHTML = "Afficher PROPRIETAIRES"
        }
        
    }

    const UncheckAll = function(){
        //this function unchecks all the visible and invisible checkboxes
        checkboxes = document.querySelectorAll('input[type=checkbox]');
        for (checkbox of checkboxes){
            checkbox.checked = false
        }
    }

    const displayAnimOrOwner= () => {
        //display owner and change button value
        displayBtn.classList.toggle('bg-primary')   
        displayBtn.classList.toggle('owner-part')  
        createBtn.classList.toggle('owner-part')  
        updateBtn.classList.toggle('owner-part')  
        deletionBtn.classList.toggle('owner-part')  
        if (displayBtn.textContent == "Afficher PROPRIETAIRES"){
            ChangeInterface("owner", "anim")  
        }else{
            ChangeInterface("anim", "owner")              
        }
    }
    const isForAnimal = () => {
        //return whether we are in the anim or owner part
        return displayBtn.textContent == "Afficher PROPRIETAIRES"
    }


    const ChargeOwnerSide = function(){
        //check loading data to display a side // anim or owner //
        let displayOwner = ({{disp_owners}} == 1)
        
        if (displayOwner){
            displayAnimOrOwner()
        }
    }

    const GetSelectedCheckbox = (listCheckboxes) =>{
        //read list and return selected checkbox or array of checkboxes
        let count = 0; 
        let idSelected 
        let listId = []
        let listIdFinal = []
        for (checkbox of listCheckboxes){

            if (checkbox.checked){
                listId.push(checkbox.id)
                count ++;
            }
        }
        //1 elem > for modification
        if (count == 1){
            listId[0].slice(0,2) == "ow" ? idSelected = listId[0].slice(2,10) : idSelected = listId[0]
            return {idSelected: idSelected, count: count}

            //many elems > for deletion
        }else{


            for (id of listId){
                id.slice(0,2) == "ow" ? idSelected = id.slice(2,10) : idSelected = id
                listIdFinal.push(idSelected)
            }
            return {idSelected: listIdFinal, count: count}
        }

    }

    const DeleteAnimals = (toDelete, msg) =>{
        //remove animal from list
        let specie = ""
        for (idElem of toDelete){
            elem = document.getElementById(idElem)
            
            name = elem.parentElement.nextElementSibling.textContent
            specie = elem.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.textContent
            msg = msg + "\n  >" + name + " - " + specie;
        }
        response = confirm(msg);
        return response
    }

    const DeleteOwners = (toDelete, msg) => {
        for (elemId of toDelete){

            nb_anim = document.getElementById('id_nb_'+elemId).textContent
            name = document.getElementById('id_name_'+elemId).textContent
            surname = document.getElementById('id_surname_'+elemId).textContent
            msgAlert = "Ce propriétaire ("+ name +" "+surname+") est lié à au moins une fiche animal. Il ne peut être suppprimé !"
            //if owner has many animals, stop this
            if (nb_anim != 0) {
                alert(msgAlert) 
                return null
            }
            msg = msg + "\n  > " + name + " " + surname + " ("+nb_anim+" animal).";
        }
        response = confirm(msg);
        return response
    }

    const Remove = () => {
        //gets id from checkbox and deletes associate item(s) 
        const checkboxes = document.querySelectorAll('input[type=checkbox]');
        let count = 0; 
        result = GetSelectedCheckbox(checkboxes)
        toDelete = result.idSelected
        typeof(toDelete) == "string" ? toDelete = [toDelete] : toDelete = toDelete
        
        if (result.count == 0){
            alert('sélectionnez au moins une fiche à supprimer !')
        }else {
            let msg = 'Confirmez-vous la suppression de '+ result.count + ' éléments :'
            let name = ""
            let response = false
            if (isForAnimal()){
                response = DeleteAnimals(toDelete, msg)
                form.setAttribute('action', "{% url 'sheet:index' own=0%}");
                
            }else{
                let nb_animaux
                let surname
                response = DeleteOwners(toDelete, msg)
                form.setAttribute('action', "{% url 'sheet:index' own=1%}");
            }
            if (response){
                form.setAttribute('method', "POST");
                console.log("j'envoie les données")
                form.submit()
            }
        }
        form.setAttribute('action', "");
    }
    //###################
    //####   EVENTS  ####
    //###################


    displayBtn.onclick = () =>{
        UncheckAll()
        
        displayAnimOrOwner()
    }

    createBtn.onclick = () =>{
        console.log('create')
        if (isForAnimal()){
            add_page = "{% url 'sheet:add' %}" 
            window.location.href = add_page
        }else{
            url_open = "{% url 'sheet:add_owner_open'%}"; 
            OpenSmallPageOwner(url_open)
            }
    }

    updateBtn.onclick = () =>{
        Alter()
    }

    deletionBtn.onclick = () =>{
        Remove()
    }

    //click and dbclick on table row
    for (tr of allTr){
        tr = Array.from(tr.children)
        tr.splice(0,1)
        for (child of tr){
            child.onclick = function(e){

                let target = e.target.parentElement.children[0].children[0];
                
                if (target.checked == true){
                    target.checked=false; 
                }else{
                    target.checked=true;
                }
            };
            child.ondblclick = function(e){
                // this event opens alter page for animal or owner
                let target = e.target.parentElement.children[0].children[0];
                
                
                target.id.slice(0,2) == "ow" ? idSelected = target.id.slice(2,10) : idSelected = target.id
                
                Alter(idSelected)
                
            };
        }
    }
    
    window.onload = function(){
    //click on line means checkbox checked
    if (localStorage.length != 0 ){
        localStorage.clear()
    }
}
const main = function(){
    ChargeOwnerSide()
}
main()
</script>
{% endblock  %}

