{% extends 'spa_core/base.html' %} 
{% block content %}
<section class="sec-dashboard">
	<article class="art-dashboard">
		<h2 class="">
			Tableau De Bord pour le mois : {{date}}
		</h2>
		<div class="container-dashboard">
			<div id='graph' class="graph"></div>
			<div class="container-button">
					<div onclick=owner()  class="" title="propriétaire(s) devant stériliser">Propriétaires <br> avec obligations : {{nb_owners}}</div>
					<div onclick=contacted() class="" title="propriétaire(s) à contacter"> Propriétaires <br> à contacter : {{nb_to_contact}} </div>
					<div onclick=to_contact() class="" title="propriétaire(s) contacté(s)">Propriétaires <br> contactés : {{nb_contacted}}
					</div>
			</div>
		</div>
	</article>
</section>
{% load static %}
<script type="text/javascript" src='{% static "spa_core/js/highcharts.js" %}'>
</script>
<script type="text/javascript" src='{% static "spa_core/js/graph.js" %}'> 
</script>
<script type="text/javascript">
	const container = 'graph';
	const datas = {
		'col1' :{{list_contacted}},
		'col2' : {{list_to_contact}}
	};
	console.log(datas)
	CreateChart(container, datas);


	const owner = function(){
		//this function sends user to sheet/index.html
		window.location.href = "{% url 'sheet:index' own=1 action='display' search=1%}"
	}
	const contacted = function(){
		//this function sends user to sheet/index.html
		window.location.href = "{% url 'sheet:index' own=1 action='display' search=2%}"
	}
	const to_contact = function(){
		//this function sends user to sheet/index.html
		window.location.href = "{% url 'sheet:index' own=1 action='display' search=3%}"
	}
</script>
{% endblock  %}

