/* change.css */
/* dashboard */
	.right-part{
		background: blue;
		width:  80%;	
	}
	.top-right-part{
		background: green;
	}
	article{
		background-color: yellow;
	}
	#graph{
		width: 30rem;
		height: auto;
	}
	.curs-pointer{
		cursor: pointer; }


	/*---------------------------------*/

	/*left part*/
	.left-part{
		width:  20%;	
		background: red;	
	}
	.photo > img{
		width:  10rem;
		height: auto;
	}
	.button-verti{
		height:  3rem;
		width: 	10rem;
		background-color: white;
	}
	.no-a{
		color: black;
	}
	.no-a:hover{
		text-decoration : none;}

/* connexion*/ 
	.section-connection{ /*according to clients desires*/	
		background: linear-gradient(to bottom, rgba(92, 77, 66, 0.5) 0%, 
			rgba(92, 77, 66, 0.6) 100%), url("../img/fond.png");
		padding-top: 8rem;
		padding-bottom: calc(8rem - 56px);
		background-position: center center;
		background-size: 70rem; 
		background-repeat: no-repeat;
	}
	.cont-form{
		width: 30rem;
		background-color: rgba(255,255,255,0.4)
	}

/* sheet */

	.row1{
		background-color: gold; }
	
	.row2{
		background-color: grey; }

/* add sheet */

	.bg-yellow{ 
		background-color: yellow;
		}
	.bg-green{ 
		background-color: green;
		}
    .w-10rem{
    	width: 10rem;}
/* mail */ 
	.mail-but{
		height: 5rem; 
	}
	.very-center{
		display: flex; 
		justify-content: center; 
		align-content: center; 
		}